h1 {
  font-family: 'Playfair Display', serif;
  font-size: 15vh;
  font-weight: 800;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

:root {
  --green: #b8d953;
  --lilac: #b2b2eb;
  --pink: #bb86e9;
  --dark-green: #529a91;
  --peach: #fe96b7;
  --black: #191819;
  --white: #d9d9d9;
}

.category {
  color: #db3334;
  font-family: 'Yeseva One', cursive;
  font-size: 3.5vh;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 5vh;
}

.container {
  width: 70%;
}

@keyframes fontGrow {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes fontGrowReverse {
  0% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}

@keyframes fontGrowReverse2 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes xGrow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}



/*
font-family: 'Playfair Display', serif;
font-family: 'Yeseva One', cursive;
*/
