h1 {
  font-family: 'Playfair Display', serif;
  font-size: 15vh;
  font-weight: 800;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 10vh;
  font-weight: 400;
  text-align: justify;
}

h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 5vh;
}

.container-homepage {
  margin: auto;
  width: 97%;
}

a:link {
  font-family: 'Playfair Display', serif;
  font-size: 10vh;
  font-weight: 400;
  text-decoration: none;
  color: #212529;
}

a:visited {
  font-family: 'Playfair Display', serif;
  font-size: 10vh;
  font-weight: 400;
  text-decoration: none;
  color: #212529;
}

a:hover {
  font-family: 'Playfair Display', serif;
  font-size: 10vh;
  font-weight: 400;
  text-decoration: underline;
  color: #212529;
}




/* -----------  */

:root {
  --green: #b8d953;
  --lilac: #b2b2eb;
  --pink: #bb86e9;
  --dark-green: #529a91;
  --peach: #fe96b7;
  --black: #191819;
  --white: #d9d9d9;
  --light-blue: #91d1df;
}

.first-sight {
  height: 100%;
}

.open {
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

@keyframes fontGrow {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

.title-letters {
  animation-name: fontGrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  transition-timing-function: ease-in-out;
}

.letter-e1 {
  color: var(--peach);
}

.letter-s1 {
  color: var(--green);
  animation-name: fontGrowReverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  transition-timing-function: ease-in-out;
}

.letter-s2 {
  color: var(--pink);
}

.letter-a1 {
  color: var(--lilac);
  animation-name: fontGrowReverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  transition-timing-function: ease-in-out;
}

.letter-y {
  color: var(--dark-green);
}

.letter-s3 {
  color: var(--pink);
  animation-name: fontGrowReverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  transition-timing-function: ease-in-out;
}

.letter-ex {
  color: var(--light-blue);
}

.title-B {
  display: flex;
  justify-content: space-around;
}

@keyframes fontGrowReverse {
  0% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}

@keyframes fontGrowReverse2 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}


.title-letters-B {
  font-size: 10vw;
  animation-name: fontGrowReverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition-timing-function: ease-in-out;
}

.letter-paral {
  color: #cbe69f;
}

.letter-r {
  color: #cbe;
  animation-name: fontGrowReverse2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition-timing-function: ease-in-out;
  font-stretch: ultra-condensed;
}

.letter-a2 {
  color: var(--lilac);
}

.letter-n {
  color: var(--light-blue);
  animation-name: fontGrowReverse2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition-timing-function: ease-in-out;
}

.letter-t {
  color: #f7b407;
}

.letter-s4 {
  color: pink;
  animation-name: fontGrowReverse2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition-timing-function: ease-in-out;
}

.letter-parar {
  color: hotpink;
}

@keyframes xGrow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}

table {
  border: none;
  width: 100%;
  table-layout: fixed;
}

td {
  overflow: hidden;
}

.article-link-container {
  width: 60%;
  text-align: right;
  font-size: 10vh;
  font-family: 'Playfair Display', serif;
}

.author {
  font-family: 'Poppins', sans-serif;
  font-size: 5vh;
  padding-top: 2.5%;
  padding-left: 2.5%;
}
.author a:hover {
  text-decoration: underline;
}

.category {
  width: 20%;
  text-align: center;
  display: inline-block;
  font-size: 6vh;
  color: #db3334;
  font-family: 'Yeseva One', cursive;
}
.categories {
  text-align: center;
  width: 100%;
  height: 2%;
}